; In particular, by setting unsafe-perm to true you will force npm to attempt to always run within the context of the running script. In other words, this option forces the package installer to never switch the current user and group. So, in the case of AWS, this means that the npm install process will be executed as root. This prevents you from having any kind of problem with permissions and makes `sharp` (dependency for next.js image optimization) installation flawless.
unsafe-perm=true