$light: (
  --primary: #7cff80,
  --primary-active: #a1ffaf,
  --primary-light: #d4ffdd,
  --primary-inverse: #000,
  // secondary
  --secondary: #fe7375,
  --secondary-active: #fc8182,
  --secondary-light: #ffecec,
  --secondary-inverse: #fff,
  // success
  --success: #58dd4d,
  --success-active: #77e06e,
  --success-light: #e5ffe3,
  --success-inverse: #000,
  // danger
  --danger: #fe7375,
  --danger-active: #fc8182,
  --danger-light: #ffecec,
  --danger-inverse: #fff,

  // contextual
  --root-background: #e1e1e1,
  --root-color: #000,
);

$dark: (
  --primary: #368639,
  --primary-active: #325237,
  --primary-light: #3e7349,
  --primary-inverse: #ffffff,
  // secondary
  --secondary: #fe7375,
  --secondary-active: #fc8182,
  --secondary-light: #ffecec,
  --secondary-inverse: #fff,
  // success
  --success: #58dd4d,
  --success-active: #77e06e,
  --success-light: #e5ffe3,
  --success-inverse: #000,
  // danger
  --danger: #fe7375,
  --danger-active: #fc8182,
  --danger-light: #ffecec,
  --danger-inverse: #fff,

  // contextual
  --root-background: #000,
  --root-color: #e1e1e1,
);
