.root {
  /*! keep */
}

.title {
  /*! keep */
}

.item {
  /*! keep */
}

.itemIcon {
  width: 50px;
  height: 50px;
}

.itemTitle {
  margin-top: 18px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  line-height: 1.16667;
}

.itemDescription {
  margin-top: 10px;
  font-size: var(--font-size-sm);
}
